# API Gateway
PORT=3000
PRODUCTS_SERVICE_URL=http://localhost:3003
ORDERS_SERVICE_URL=http://localhost:3004
CART_SERVICE_URL=http://localhost:3005

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres

# Database Names
DB_NAME=products

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Frontend
API_URL=http://localhost:3000
FRONTEND_PORT=8000

# Services
PRODUCTS_DB_NAME=products
ORDERS_DB_NAME=orders
USERS_DB_NAME=users
